<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
  <section class="u-clearfix u-section-1" id="sec-adf9">
    <link rel="stylesheet" href="static\css\app.css?{{ version }}" media="screen">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-default u-text-1">Поздравление</h1>
      <img class="u-align-center u-image u-image-default u-image-1" src="static/images/tmp.jpg?{{ timers }}" alt="" data-image-width="1064" data-image-height="946" >
      <p class="u-align-left u-text u-text-2">
        {% for Person in persons[:-1] %}
        {{ Person }},
        {% endfor %}
        {{ persons[-1] }}
      </p>
    </div>
  </section>
</body>
{% endblock %}
