<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
  <section class="u-clearfix u-section-1" id="sec-ceed">
    <link rel="stylesheet" href="static\css\index.css?{{ version }}" media="screen">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-center u-clearfix u-custom-html u-custom-html-1">
        <form action="/loadFile" method="post" enctype="multipart/form-data" class="myForm">
          <label for="text-aaec" class="u-label u-label-1">Загрузите свой фон.png</label>
          <input type="file" name="background">
          <input type="submit" value="Загрузить" class="u-btn u-btn-submit u-button-style">
        </form>
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="Main">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-center u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
          <div class="u-form-group u-form-name">
            <label for="name-c6f2" class="u-label u-label-1">Группа</label>
            <input type="text" placeholder="ID or URL" id="name-c6f2" name="vkId" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-input-1" required="">
          </div>
          <div class="u-form-group" style="position:relative;">
            <div class="u-form-radiobutton u-form-group-2">
              <div class="u-form-radio-button-wrapper">
                <input type="radio" name="BGDef" value="bg1" checked="checked">
                <label class="u-label" for="radiobutton">Фон 1</label>
                <br>
                <input type="radio" name="BGDef" value="bg2">
                <label class="u-label" for="radiobutton">Фон 2</label>
                <br>
                <input type="radio" name="BGDef" value="bg3">
                <label class="u-label" for="radiobutton">Фон 3</label>
              </div>
            </div>
            <div class="u-form-radiobutton u-form-group-2_2">
              <div class="u-form-radio-button-wrapper">
                <input type="radio" name="STDef" value="st1" checked="checked">
                <label class="u-label" for="radiobutton1">Стиль 1</label>
                <br>
                <input type="radio" name="STDef" value="st2">
                <label class="u-label" for="radiobutton1">Стиль 2</label>
                <br>
                <input type="radio" name="STDef" value="st3">
                <label class="u-label1" for="radiobutton1">Стиль 3</label>
                <br>
              </div>
            </div>
          </div>
          <div class="u-form-group u-form-group-3">
            <label for="text-e07e" class="u-label u-label-5">Промежуток дней</label>
            <input type="text" id="text-e07e" name="dayPromej" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-input-2" placeholder="по умолчанию 0">
          </div>
          <div class="u-form-group u-form-radiobutton u-form-group-4">
            <div class="u-form-radio-button-wrapper">
              <input type="radio" name="MalePos" value="0" required="required" checked="checked">
              <label class="u-label" for="radiobutton-1">Всех</label>
              <br>
              <input type="radio" name="MalePos" value="2" required="required">
              <label class="u-label" for="radiobutton-1">Мужчин</label>
              <br>
              <input type="radio" name="MalePos" value="1" required="required">
              <label class="u-label" for="radiobutton-1">Женщин</label>
              <br>
            </div>
          </div>
          <div class="u-form-group u-form-group-5">
            <label for="text-8eb9" class="u-label u-label-9">ID города</label>
            <input type="text" placeholder="По умолчанию все" id="text-8eb9" name="IDCountry" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-input-3">
          </div>
          <div class="u-form-group u-form-group-5">
            <label for="text-8eb9" class="u-label u-label-9">VK Token</label>
            <input type="text" placeholder="По умолчанию основной" id="text-8eb9" name="VKToken" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-input-3">
          </div>
          <div class="u-form-checkbox u-form-group u-form-group-6">
            <input type="checkbox" id="checkbox-6471" name="NoAva" value="On" checked="checked">
            <label for="checkbox-6471" class="u-label u-label-10">Не поздравлять если нету аватара</label>
          </div>
          <div class="u-form-checkbox u-form-group u-form-group-6">
            <input type="checkbox" id="checkbox-6471" name="bgTMP" value="TMP">
            <label for="checkbox-6471" class="u-label u-label-10">Использовать свой фон</label>
          </div>
          <input type="submit" onclick="spin()" class="u-btn u-btn-submit u-button-style">
        </form>
        <div id="floatingCirclesG" >
        	<div class="f_circleG" id="frotateG_01"></div>
        	<div class="f_circleG" id="frotateG_02"></div>
        	<div class="f_circleG" id="frotateG_03"></div>
        	<div class="f_circleG" id="frotateG_04"></div>
        	<div class="f_circleG" id="frotateG_05"></div>
        	<div class="f_circleG" id="frotateG_06"></div>
        	<div class="f_circleG" id="frotateG_07"></div>
        	<div class="f_circleG" id="frotateG_08"></div>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock %}
