<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Главная</title>
  <link rel="stylesheet" href="static\css\nicepage.css?{{ version }}" media="screen">
  <link rel="stylesheet" href="static\css\index.css?{{ version }}" media="screen">
  <script class="u-script" type="text/javascript" src="static\js\jquery.js?{{ version }}" defer=""></script> 
  <script class="u-script" type="text/javascript" src="static\js\nicepage.js?{{ version }}" defer=""></script>
  <script class="u-script" type="text/javascript" src="static\js\my.js?{{ version }}" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Site1",
      "logo": "static/images/default-logo.png"
    }
  </script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Главная">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
</head>

<body data-home-page="/" data-home-page-title="Главная" class="u-body u-stick-footer" onload="spin()">
  <header class="u-clearfix u-header u-header" id="Menu">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <a href="/" data-page-id="31954487" class="u-image u-logo u-image-1" data-image-width="80" data-image-height="40" title="Главная">
        <img src="static/images/default-logo.png?{{ version }}" class="u-logo-image u-logo-image-1">
      </a>
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </symbol>
              </defs>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-unstyled u-nav-1">
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">Главная</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/online" style="padding: 10px 20px;">Online Check</a>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 10px 20px;">Главная</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/online" style="padding: 10px 20px;">Online Check</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>
  <section class="u-clearfix u-section-1" id="sec-ceed">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-center u-clearfix u-custom-html u-custom-html-1">
        <form action="" method="post" enctype="multipart/form-data" class="myForm">
          <label for="text-aaec" class="u-label u-label-1">Загрузите свой фон.png</label>
          <input type="file" name="background">
          <input type="submit" value="Загрузить" class="u-btn u-btn-submit u-button-style">
        </form>
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="Main">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-center u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
          <div class="u-form-group u-form-name">
            <label for="name-c6f2" class="u-label u-label-1">Группа</label>
            <input type="text" placeholder="ID or URL" id="name-c6f2" name="vkId" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-input-1" required="">
          </div>
          <div class="u-form-group u-form-radiobutton u-form-group-2">
            <div class="u-form-radio-button-wrapper">
              <input type="radio" name="BGDef" value="bg1" checked="checked">
              <label class="u-label" for="radiobutton">Фон 1</label>
              <br>
              <input type="radio" name="BGDef" value="bg2">
              <label class="u-label" for="radiobutton">Фон 2</label>
              <br>
              <input type="radio" name="BGDef" value="bg3">
              <label class="u-label" for="radiobutton">Фон 3</label>
              <br>
              <!-- <input type="radio" name="BGDef" value="bgTMP">
              <label class="u-label" for="radiobutton">Свой фон</label>
              <br> -->
            </div>
          </div>
          <div class="u-form-group u-form-group-3">
            <label for="text-e07e" class="u-label u-label-5">Промежуток дней</label>
            <input type="text" id="text-e07e" name="dayPromej" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-input-2" placeholder="по умолчанию 0">
          </div>
          <div class="u-form-group u-form-radiobutton u-form-group-4">
            <div class="u-form-radio-button-wrapper">
              <input type="radio" name="MalePos" value="0" required="required" checked="checked">
              <label class="u-label" for="radiobutton-1">Всех</label>
              <br>
              <input type="radio" name="MalePos" value="2" required="required">
              <label class="u-label" for="radiobutton-1">Мужчин</label>
              <br>
              <input type="radio" name="MalePos" value="1" required="required">
              <label class="u-label" for="radiobutton-1">Женщин</label>
              <br>
            </div>
          </div>
          <div class="u-form-group u-form-group-5">
            <label for="text-8eb9" class="u-label u-label-9">ID города</label>
            <input type="text" placeholder="По умолчанию все" id="text-8eb9" name="IDCountry" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-input-3">
          </div>
          <div class="u-form-group u-form-group-5">
            <label for="text-8eb9" class="u-label u-label-9">VK Token</label>
            <input type="text" placeholder="По умолчанию основной" id="text-8eb9" name="VKToken" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-input-3">
          </div>
          <div class="u-form-checkbox u-form-group u-form-group-6">
            <input type="checkbox" id="checkbox-6471" name="NoAva" value="On" checked="checked">
            <label for="checkbox-6471" class="u-label u-label-10">Не поздравлять если нету аватара</label>
          </div>
          <div class="u-form-checkbox u-form-group u-form-group-6">
            <input type="checkbox" id="checkbox-6471" name="bgTMP" value="TMP">
            <label for="checkbox-6471" class="u-label u-label-10">Использовать свой фон</label>
          </div>
          <!-- <div class="u-align-left u-form-group u-form-submit">
            <a href="#" class="u-btn u-btn-submit u-button-style">Отправить</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div> -->
          <input type="submit" onclick="spin()" class="u-btn u-btn-submit u-button-style">

          <!-- <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение отправлено. </div> -->
          <!-- <div class="u-form-send-error u-form-send-message"> Отправка не удалась. Пожалуйста, исправьте ошибки и попробуйте еще раз. </div> -->
        </form>
        <div id="floatingCirclesG" >
        	<div class="f_circleG" id="frotateG_01"></div>
        	<div class="f_circleG" id="frotateG_02"></div>
        	<div class="f_circleG" id="frotateG_03"></div>
        	<div class="f_circleG" id="frotateG_04"></div>
        	<div class="f_circleG" id="frotateG_05"></div>
        	<div class="f_circleG" id="frotateG_06"></div>
        	<div class="f_circleG" id="frotateG_07"></div>
        	<div class="f_circleG" id="frotateG_08"></div>
        </div>
      </div>
    </div>
  </section>


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="Footer">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
  </footer>
</body>

</html>
