<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
  <section class="u-clearfix u-section-1" id="sec-fa69">
    <link rel="stylesheet" href="static\css\Online-Check.css?{{ version }}" media="screen">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-center u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
          <div class="u-form-group u-form-message">
            <label for="message-7bf5" class="u-label">Id пользователей или их короткие имена (screen_name)</label>
            <textarea placeholder="записывая в столбик, количество элементов должно составлять не более 1000" rows="5" cols="50" id="message-7bf5" name="ids" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""
              autofocus="autofocus"></textarea>
          </div>
          <div class="u-align-left u-form-group u-form-submit">
            <!--<a href="#" class="u-btn u-btn-submit u-button-style">Отправить</a>-->
            <!--<input type="submit" value="submit" class="u-form-control-hidden">-->
            <input type="submit" class="u-btn u-btn-submit u-button-style">
          </div>
          <!-- <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение отправлено. </div> -->
          <!-- <div class="u-form-send-error u-form-send-message"> Отправка не удалась. Пожалуйста, исправьте ошибки и попробуйте еще раз. </div> -->
        </form>
      </div>

      <p class="u-text u-text-1">
        {% for Person in users[:-1] %}
        id{{ Person }},
        {% endfor %}
        id{{ users[-1] }}
      </p>
    </div>
  </section>


  <!-- <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="Footer">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
  </footer> -->
</body>
{% endblock %}
